.App {
    min-height: 100vh;
    padding-top: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
}

button {
    font-size: 20px;
    padding: 4px 20px;
}

.text-center {
    text-align: center;
}

.title {
    font-size: 20px
}

main {
    padding-top: 20px;
}

