$bg-theme-light: #eef5f9;
$color-theme-light: #000;

$bg-theme-dark: #222;
$color-theme-dark: #fff;

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    padding: 0;
    min-height: 100vh;
}

.App {
    background-color: $bg-theme-light;
    color: $color-theme-light;
    .home-body-text {
        button {
            border: 1px solid black;
            background-color: $bg-theme-light;
        }

        button, a {
            transition: all 0.4s ease-in-out 0s;
        }

        button:hover {
            background-color: black;
            a {
                color: white;
            }
        }
    }
    code {
        color: #eef5f9
    }

}

.content-box {
    margin: 0 auto;
    background-color: #ccc;
    color: $color-theme-light;
    border-radius: 8px;
    padding: 30px 30px 40px 30px;
    max-width: 800px;
    h3 {
        line-height: 1.2;
        margin: 0;
        font-size: 26px;
    }
    h5 {
        line-height: 1.5;
        margin: 0 0 20px 0;
        font-size: 22px;
    }
}

.theme-switcher-wrap {
    line-height: 10px;
    .theme-switcher-label {
        display: inline-block;
        cursor: pointer;
        .switch-path {
            width: 40px;
            height: 20px;
            border-radius: 10px;
            background-color: #ccc;
            transition: all 0.3s ease-in-out;
            .switch-handle {
                background-color: #999;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;
            }
        }
        &.active {
            .switch-path {
                background-color: #555;
            }
            .switch-handle {
                transform: translateX(20px);
                background-color: #eef5f9;
            }
        }
    }
}

.App.theme-dark {
    
    background-color: $bg-theme-dark;
    color: $color-theme-dark;
    .content-box {
        background-color: #333;
        h3,
        h5 {
            color: #eef5f9;
        }
        p {
            color: #ccc;
        }
        li {
            color: #ccc;
        }
        .ulHeading:before{
            color: #ccc;
        } 
    }
    .ErrorPageMainBody {
        color: $color-theme-light;
    }
    .home-body-text {

        button {
            a {
                color: $color-theme-dark;
                text-decoration: none;
            }
                background-color: #333;
                color: $color-theme-dark;
                border: 1px solid $color-theme-dark;
                transition: all 0.3s ease-in-out 0s;
        }
    }
    label {
        color: white;
    }
    button:hover {
        a {
            animation: 1s ease-in-out;
            color: #eef5f9;
            cursor: pointer;
        }
    }

    code {
        color: #eef5f9
    }

    .sub-count-page {
        color: $color-theme-light;
    }
    .search-channels {
        color: $color-theme-light;
    }
    
    .results-container {
        color: black;
    }
    .search-loading {
        color: $color-theme-dark;
    }

    .box {
        div {
            position: absolute;
            width: 60px;
            height: 60px;
            background: transparent;
            border: 6px solid rgba($color: #fff, $alpha: 0.8)
        }
        div:nth-child(1){
            top: 12%;
            left: 42%;
            animation: animate 10s linear infinite;
        }
        div:nth-child(2){
            top: 70%;
            left: 50%;
            animation: animate 7s linear infinite;
        }
        div:nth-child(3){
            top: 17%;
            left: 6%;
            animation: animate 9s linear infinite;
        }
        div:nth-child(4){
            top: 20%;
            left: 60%;
            animation: animate 10s linear infinite;
        }
        div:nth-child(5){
            top: 67%;
            left: 10%;
            animation: animate 6s linear infinite;
        }
        div:nth-child(6){
            top: 80%;
            left: 70%;
            animation: animate 12s linear infinite;
        }
        div:nth-child(7){
            top: 60%;
            left: 80%;
            animation: animate 15s linear infinite;
        }
        div:nth-child(8){
            top: 32%;
            left: 25%;
            animation: animate 16s linear infinite;
        }
        div:nth-child(9){
            top: 90%;
            left: 25%;
            animation: animate 9s linear infinite;
        }
        div:nth-child(10){
            top: 20%;
            left: 80%;
            animation: animate 5s linear infinite;
        }
    }

    @keyframes animate {
        0% {
            transform: scale(0) translateY(0) rotate(0);
            opacity: 1;
        }
        100% {
            transform: scale(1.3) translateY(-90px) rotate(160deg);
            opacity: 0;
        }
    }

    
}

.line {
    position: relative;
    
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    overflow: hidden;
    font-size: 50px;
}

.anim-typewriter {
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    } to {
        width: 5.3em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75) ;
    } to {
        border-right-color: transparent;
    }
}

.form-group-box {
    margin: 0 auto;
}

@media only screen and (max-width: 991px) {
    .line {
        font-size: 25px;
    }
}

.ulHeading:before{
    content:attr(data-header);
    font-size:120%;
    font-weight:bold;
    margin-left:-15px;
}  


.rotate-logo {
    transition: all 0.3s ease-in-out 0s;
}

.rotate-logo:hover {
    transform: rotate(360deg);
}

.logo-image-body {
    border-radius: 50%;
    width: 200px;
    transition: all 0.3s ease-in-out 0s;

}

.logo-image-body:hover {
    transform: rotate(360deg);
}

.home-body {
    
    margin-top: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-body-text {
    text-align: center;
    button {
        border-radius: 10px;
        margin-left: 5px;

        a {
            text-decoration: none;
            color: $color-theme-light;
        }
    }
   
    @keyframes pulse {
        0% { box-shadow: 0 0 0 0 var(--hover); }
    }
}


.sub-count, .view-count, .video-count {
    p {
        margin: 0;
        padding: 0;
    }

    margin-bottom: 5px;
}

.center-image {
    text-align: center;
    margin-bottom: 5px;
    img {
        border-radius: 50%;
        height: 10rem;
    }
}


.image-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background-color: #f3f1f1;
    width: 90%;
}

.sub-count {
    font-size: 6rem;
}

.sub-count-text {
    font-size: 3.5rem;
}

.sub-count-counter {
    font-size: 4rem;
}

.search-loading {
    text-align: center;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}

.social-media-section {
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    animation-name: border-move;
    animation-duration: 4s;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    align-items: center;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    border: none;
    line-height: 20px;
    font-size: 30px;
}

.social-media-icons:hover {
    cursor: pointer;
}

@keyframes border-move {
   
    0% {
        border-color: red;
        border: none;
    }

    
    100% {
        border: 1px solid white;
    }
}